<!doctype html>
<html ng-controller="AppCtrl as ctrl" ng-app="app">

<head>
    <title>dc.js - Row Chart Example</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="node_modules/dc/dc.min.css" />
    <link href="node_modules/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="node_modules/please-wait/build/please-wait.css" rel="stylesheet">
    <link href="node_modules/dc/dc.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app/stylesheet/styles.css" type="text/css">
    <link rel="stylesheet" href="app/stylesheet/please-wait-style.css" type="text/css">
</head>

<body>
    <h2 class="md-toolbar-tools" layout-align="center center">
        <span>Infectious Diseases-related disease cases among California</span>
    </h2>
    <md-divider></md-divider>
    <div layout="row" layout-align="center center">
        <div flex>
            <md-subheader class="md-warn">Select Disease:</md-subheader>
            <md-content class="md-padding" style="height: 500px; width: 280px;" md-theme="altTheme">
                <md-radio-group ng-model="ctrl.diseaseSelected" ng-change="ctrl.filteredSelected('2005')">
                    <md-radio-button ng-repeat="disease in ctrl.diseases" ng-value="disease">
                        {{ disease }}
                    </md-radio-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-radio-group>
            </md-content>
        </div>
        <div flex>
            <div id="map"></div>
        </div>
    </div>
    <!-- remote application dependencies -->
    <script type="text/javascript" src="node_modules/promise-polyfill/dist/polyfill.min.js"></script>
    <script type="text/javascript" src="node_modules/fetch/lib/fetch.js"></script>
    <script type="text/javascript" src="node_modules/d3/dist/d3.min.js"></script>
    <script type="text/javascript" src="node_modules/crossfilter/crossfilter.min.js"></script>
    <script type="text/javascript" src="node_modules/dc/dc.min.js"></script>
    <script type="text/javascript" src="node_modules/topojson/dist/topojson.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="node_modules/please-wait/build/please-wait.min.js"></script>
    <!-- local application dependencies -->
    <script type="text/javascript" src="app/resource/module.js"></script>
    <script type="text;javascript" src="app/resource/loading-screen-service.js"></script>
    <script type="text/javascript" src="app/module.js"></script>
    <script type="text/javascript" src="app/application.js"></script>
    <script type="text/javascript" src="app/resource/module.js"></script>
    <script type="text/javascript" src="app/resource/loading-screen-service.js"></script>
</body>

</html>